p {
    color: red;
    width: 500px;
    margin: 15px auto;
    font-family: sans-serif;
    letter-spacing: 2px;
}

body {
    width: 600px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(175, 255, 206);
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(178, 178, 178);
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(203, 216, 255);
}

html {
    background-color: #cbe6ff;
}

li {
    color: rgb(87, 87, 87);
    font-family: sans-serif;
    padding: 10px;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 60px;
    color: rgb(98, 98, 204);
    text-shadow: 5px 5px 5px rgb(177, 196, 252);
}

#heading {
    color: rgb(98, 98, 204);
}

.popular {
    border: 4px dotted red;
}

figcaption {
    text-align: center;
}

figure {
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 5px;
}

@media only screen and (max-width: 1000px) {
    body {
        width: 60%;
    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 24px;
        width: 90%;
    }

    img {
        width: 80%;
    }

    li {
        font-size: 20px;
        padding: 10px;
    }

    figcaption {
        font-size: 20px;
    }
}

@media only screen and (max-height: 375px) {
    p {
        font-size: 16px;
        width: 100%;
    }

    h1 {
        font-size: 40px;
    }

    img {
        width: 70%;
    }

    li {
        font-size: 16px;
        padding: 10px;
    }

    figcaption {
        font-size: 16px;
    }
}

@media only screen and (max-width: 600px) {
    body {
        width: 80%;
    }

    p {
        font-size: 16px;
        width: 100%;
    }

    h1 {
        font-size: 30px;
    }

    img {
        width: 100%;
    }

    li {
        font-size: 16px;
        padding: 10px;
    }

    figcaption {
        font-size: 16px;
    }
}